#datetime-picker {
  font-size: 24px;
  padding: 4px 8px;
  border: 1px solid #808080;
  border-radius: 2px;
  width: 270px;
  height: 40px;
  outline: none;
  display: inline-block;
  vertical-align: middle;
}

#datetime-picker:focus {
  border-color: #000000;
}

button[data-start] {
  font-size: 24px;
  padding: 0 16px;
  height: 40px;
  margin-left: 8px;
  background-color: #efefef;
  color: #a0a0a0;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: not-allowed;
  display: inline-block;
  vertical-align: middle;
}

button[data-start]:not([disabled]) {
  color: #000000;
  background-color: #e0e0e0;
  cursor: pointer;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 65px;
}

.value {
  font-size: 32px;
  font-weight: 500;
}

.label {
  text-transform: uppercase;
  font-weight: 500;
}
